*, *::before, *::after {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --light-red: hsl(356, 100%, 66%);
    --very-light-red: hsl(355, 100%, 74%);
    --very-dark-blue: hsl(208, 49%, 24%);
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(240, 2%, 79%);
    --very-dark-grayish-blue: hsl(207, 13%, 34%);
    --very-dark-black-blue: hsl(240, 10%, 16%);
    --gradient-very-light-red: hsl(13, 100%, 72%);
    --gradient-light-red: hsl(353, 100%, 62%);
    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

html {
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
}

main {
    position: relative;
    min-height: 29rem;
    background-image: url('/images/bg-pattern-intro-desktop.svg'),
                linear-gradient(to right, var(--gradient-very-light-red), var(--gradient-light-red));
    background-position-x: -28rem, 0;
    background-position-y: -86rem, 0;
    background-repeat: no-repeat;
    border-bottom-left-radius: 60px;
    
}

h2, h3 {
    color: var(--very-dark-blue);
}

a, .infrastructure-section, .infrastructure-section h2 {
    color: var(--white);
}

img {
    max-width: 100%;
}


.header-margin, .powerful {
    margin-top: 2rem;
}

.container {
    width: 90%;
    margin-inline: auto;
    max-width: 1200px;
}

.row {
    display: flex;
    
}

.primary-nav {
    align-self: center;
    justify-content: space-between;
    
}

.dropdown-menu {
    margin-top: 1rem;
    background-color: var(--white);
    border-radius: 5px;
    z-index: 3;
}

.dropdown-menu li {
    margin-bottom: .5rem;
}


.dropdown-menu a {
    color: var(--very-dark-grayish-blue);
}

.dropdown-menu a:hover {
    color: var(--very-dark-black-blue);
    font-weight: 600;
}

.arrow-flip {
    transform: rotate(180deg);
    transition: 0.2s ease-in-out;
}

.signup-btn {
    color: var(--light-red);
    background-color: var(--white);
    padding: .5rem 1.2rem;
    border-radius: 100px;
}

.signup-btn:hover, .start:hover {
    color: var(--white);
    background-color: var(--very-light-red);
}

.cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Overpass', sans-serif;
    color: var(--white);
  
}

.cta p {
    margin-block: .5rem 2rem;
}

.cta-link {
    padding: .5rem 1rem;
    border-radius: 100px;
}

.start {
    margin-right: .5rem;
}

.start, .learn:hover {
    background-color: var(--white);
    color: var(--light-red);
}

.learn {
    background-color: transparent;
    border: 1px solid var(--white);
}

.design-section {
    padding-block: 6rem 16rem;
}

.design-section-heading {
    text-align: center;
}

.editor {
    margin-block: 2rem;
}

.design-section-para, .last-section-para {
    color: var(--very-dark-gray-blue);
}

.design-section-para, .infrastructure-section-para, .last-section-para {
    margin-top: 1.5rem;
    line-height: 1.5;
}

.infrastructure-section {
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
    padding-block: 6rem;
    background-image: url('/images/bg-pattern-circles.svg'), 
    linear-gradient(to right, var(--very-dark-gray-blue), var(--very-dark-desaturated-blue));
    background-repeat: no-repeat;
   
}

.pos-rel {
    position: relative;
}

.phone-image {
    width: 28rem;
    position: absolute;
    top: -125%;
    left: 0;
}

.footer-section {
    background-color: var(--very-dark-black-blue);
    border-top-right-radius: 70px;
    padding-block: 5rem;
}

.company-footer, .connect-footer {
    margin-bottom: 1.5rem;
}


.footer-section ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer-section ul a {
    font-weight: 400;
}

.footer-links ul a:hover, .connect-footer + ul a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

@media (max-width: 700px) {
    main {
        min-height: 35rem;
        background-image: url('/images/bg-pattern-intro-mobile.svg'), 
        linear-gradient(to bottom, var(--gradient-very-light-red), var(--gradient-light-red));
        background-position-x: 37%, 0;
        background-position-y: 45%, 0 ;
    }

    svg {
        color: var(--very-light-red);
    }

    .mobile-nav-toggle {
        position: absolute;
        right: 5%;
        width: 2.5rem;
        aspect-ratio: 1;
        background-color: transparent;
        border: 0;
       
    }

    .hamburger, .hamburger::before, .hamburger::after {
        display: block;
        width: 1.7rem;
        height: 4px;
        border-radius: 5px;
        background-color: var(--white);
        margin-inline: auto;
        transition: 0.5s ease-in-out;
    }

    .hamburger::before, .hamburger::after {
        position: relative;
        content: '';
    }

    .hamburger::before {
        top: 7px;
        width: 1rem;
        left: .3rem;
    }

    .hamburger::after {
        bottom: 12px;
    }

    .mobile-nav-toggle[aria-expanded=true] .hamburger::before {
        opacity: 0;
    }

    .mobile-nav-toggle[aria-expanded=true] .hamburger {
        transform: rotate(45deg);
    }

    .mobile-nav-toggle[aria-expanded=true] .hamburger::after {
        transform: translateY(7.2px) rotate(-90deg);
        
    }

    .primary-nav {
        position: fixed;
        inset: 15% 5% 5% 5%;
        background-color: var(--white);
        flex-direction: column;
        padding: 2rem;
        transform: translateX(120%); 
        transition: 0.2s ease-in-out; 
        z-index: 9999;
        border-radius: 10px;
        box-shadow: 5px 10px 18px #888;
    }

    .primary-nav[data-visible = true] {
        transform: translateY(0);
    }

    .col {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    .nav-item-link {
        color: var(--very-dark-black-blue);
        font-weight: 700;
    }

    .secondary-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.3rem;
    }

    .signup-btn {
        background: linear-gradient(to right, var(--gradient-very-light-red), var(--gradient-light-red));
        color: var(--white);
    }

    .nav-item {
        width: 100%;
        text-align: center;
    }

    .dropdown-menu {
        background-color: var(--grayish-blue);
        width: 100%;
        text-align: center;
        padding-block: .75rem;
    }

    .dropdown-menu a {
        color: var(--very-dark-gray-blue);
        font-weight: 700;
    }

    .cta-content {
        width: 90%;
        margin-inline: auto;
        text-align: center;
    }

    .design-section-heading {
        margin-bottom: 2rem;
    }

    .design-section-text, .last-section-text {
        text-align: center;
    }

    .design-section-text-heading, .infrastructure-section-text-heading {
        width: 60%;
        margin-inline: auto;
        text-align: center;
    }

    .infrastructure-section {
        background-image: url('/images/bg-pattern-circles.svg'), 
        linear-gradient(to bottom, var(--very-dark-gray-blue), var(--very-dark-desaturated-blue));
        background-size: 30rem, cover;
        background-position:left 50% top -2000%, 0;
        padding-top: 12rem;
        text-align: center;
    }

    .phone-image {
        width: 100%;
        top: -190%;
    }

    .last-section {
        padding-block: 3rem 5rem;
    }

    .footer-section {
        text-align: center;
    }

    .footer-links {
        margin-bottom: 2rem;
    }

    .product-footer {
        margin-block: 3rem 1.5rem;

    }
  
}

@media (min-width: 700px) {
    main {
        font-family: 'Ubuntu', sans-serif;
    }

    svg {
        color: var(--white);
    }

    .container {
        width: 85%;
    }

    .mobile-nav-toggle {
        display: none;
    }

    .primary-nav {
        width: 100%;
    }

    .logo {
        margin-right: 2.5rem;
        align-self: flex-start;
    }

    .nav-item-link {
        font-weight: 600;
    }

    .nav-item + .nav-item {
        margin-left: 3rem;
    }

    .nav-item-link:active {
        text-decoration: underline var(--white);
    }

    .dropdown-menu {
        position: fixed;
        padding: 1rem 2rem 1rem .7rem;
        border-bottom-right-radius: 20px;
    }
    
    .signup-btn {
        margin-left: 1rem;
    }

    .cta h1 {
        font-size: 3rem;
    }

    .design-section {
        background-image: url('/images/illustration-editor-desktop.svg');
        background-repeat: no-repeat;
        background-size: 50% 90%;
        background-position: right -26% center;
    }

    .img-mobile {
        display: none;
    }

    .infrastructure-section {
        background-position: left -77% top 85% , 0;
    }

    .design-section-text, .infrastructure-section-text {
        width: 50%;
    }

    .pos-rel {
        justify-content: flex-end;
    }

    .last-section-text {
        width: 50%;
        margin-inline: auto 0;
    }
       
    .last-section {
        padding-block: 13rem;
        background-image: url('/images/illustration-laptop-desktop.svg');
        background-repeat: no-repeat;
        background-size: 65% 80%;
        background-position: left -52% center;
        
    }

    .footer-row {
        display: flex;
        justify-content: space-around;
    }

    .footer-logo {
        align-self: flex-start;
    }

    .product-footer {
        margin-bottom: 1.5rem;
    }

}